* {
  margin: 0;
}

.app {
  height: 100vh;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  padding: 1.25rem;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}