.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0.6rem auto;
  /* position: fixed; */
  /* bottom: 0%; */
  border-top: 1px solid lightgray;
}

.imageUpload__progress {
  width: 100%;
}