.post {
  background-color: white;
  width: fit-content;
  max-width: 25rem;
  border: 1px solid lightgray;
  margin: 2rem 0;
}

.post__header {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.post__header__avatar {
  margin-right: 1rem;
}

.post__image {
  width: 100%;
  object-fit: contain;
  /* border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray; */
}

.post__text {
  font-weight: normal;
  padding: 1rem;
}

.post__commentBox {
  display: flex;
  margin-top: 0.65rem;
}

.post__input {
  flex: 1;
  border: none;
  padding: 0.65rem;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
}